<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        Advance React Application Example.
    </title>
</head>
<script type="text/javascript">
  window.initialData = JSON.stringify(initialContent)
</script>
<body>
    <div id="root"><%- initialData %></div>
</body>

<script src="/bundle.js" charset="utf-8"></script>
</html>