<!DOCTYPE html>
<html lang="en">

<head>
  <title>
    Advance React Application Example.
  </title>
  <script type="text/javaScript">
    window.initialData = <%- JSON.stringify(initialData) -%>
  </script>

</head>

<body>

  <div id="root"><%- initialMarkup %></div>

</body>

<script src="/bundle.js" charset="utf-8"></script>

</html>