<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        Advance React Application Example.
    </title>
</head>
<body>
    <div id="root">
        Loading...
    </div>
</body>

<script src="/bundle.js" charset="utf-8"></script>
</html>